.cart-item {
    background-color: rgb(255, 254, 242);
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.466);
    border-radius: 5px;
    display: flex;
}
.cart-item-image {
    text-align: center;
}
